.min-height {
    min-height: 664px;
}

.right-btn {
    display: block;
    text-align: right;
    margin: 0px 0px 10px 0px;
}

.event-list-box .event-image {
    width: 100%;
    height: 300px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}

.event-list-box .event-main-details{
    overflow: auto;
    border-bottom: 2px solid;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 10px 0px;
}
.event-list-box .event-main-details img{
    width: 37px;
    float: left;
    margin-right: 15px;
}

.event-list-box .event-main-details h3 {
    margin: 0px;
    font-size: 18px;
}
.event-list-box .event-main-details h3 a{
    color: #fff;
}
.btn-list{
    font-size: 14px;
    margin-bottom: 10px;
}
.btn-list .list{
    margin-right: 10px;
}
.btn-list .list span{
    font-weight: 700;
}
.btn-holder{
    margin-bottom: 10px;
}
.event-list-box{
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}
.event-list-box.dashboard-event-list-box{
    margin-bottom: 0px;
    padding: 0px;
    background-color: transparent;
}
.event-edit-btn{
    position: absolute;
    color: #D2D4D4;
    top: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.3);
    padding: 5px 3px 5px 5px;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 15px;
}
.event-list-box .btn-holder .btn-success{
    background-color: #064845 !important;
}
.interested_show{
    cursor: pointer;
}
.event-edit-btn:hover, .event-edit-btn:focus{
    color: #fff;
}

#event_prev_holder{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
}
.event_prev_img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.displayNone {
    display: none;
}

@media only screen and (min-width:320px) and (max-width:760px){
    .event-list-box .event-image{
        height: 200px;
    }
}